* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: hsl(220, 15%, 55%);
	font-family: 'Outfit', sans-serif;
	height: 100vh;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: red;
	width: 400px;
	height: 600px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 15px;
}
img {
	margin: 20px 25px 0;
	height: 350px;
	width: 350px;
	border-radius: 15px;
}
.text {
	margin: 20px 40px 0;
	text-align: center;
}
.text p {
	margin-top: 30px;
	font-size: 15px;
	color: hsl(220, 15%, 55%);
}
